USE [master]
GO

WHILE EXISTS(select NULL from sys.databases where name='QLTV')
BEGIN
    DECLARE @SQL varchar(max)
    SELECT @SQL = COALESCE(@SQL,'') + 'Kill ' + Convert(varchar, SPId) + ';'
    FROM MASTER..SysProcesses
    WHERE DBId = DB_ID(N'QLTV') AND SPId <> @@SPId
    EXEC(@SQL)
    DROP DATABASE [QLTV]
END
GO



CREATE DATABASE QLTV
GO
USE QLTV
GO

SET DATEFORMAT DMY

CREATE TABLE CHUCVUNV
(
	MACHUCVU NVARCHAR(50) NOT NULL,
	CHUCVU NVARCHAR(100),
	CONSTRAINT PK_CVNV PRIMARY KEY(MACHUCVU)
)
GO

CREATE TABLE NHANVIEN
(
	MANV INT IDENTITY(1,1),
	HOTEN NVARCHAR(200),
	NGAYSINH SMALLDATETIME,
	MACHUCVU NVARCHAR(50),
	NGAYVAOLAM SMALLDATETIME,
	EMAIL NVARCHAR(200),
	SDT NVARCHAR(20),
	DIACHI NVARCHAR(200),
	LUONG MONEY,
	TIENPHAT MONEY,
	CONSTRAINT PK_NV PRIMARY KEY(MANV),
	CONSTRAINT FK_NV_CVNV FOREIGN KEY(MACHUCVU) REFERENCES CHUCVUNV(MACHUCVU)
)
GO



CREATE TABLE QUYDINHNHANVIEN
(
	STT INT IDENTITY NOT NULL,
	MAQD NVARCHAR(50) NOT NULL,
	TUOITOITHIEU INT,
	TUOITOIDA INT,
	NGAYRA DATETIME,
	NGAYKETTHUC DATETIME,
	CONSTRAINT PK_QDNV PRIMARY KEY(MAQD)
)
GO


GO

CREATE TABLE LOAIDOCGIA
(
	MALOAIDG NVARCHAR(50) NOT NULL,
	TENLOAIDG NVARCHAR(200),
	CONSTRAINT PK_LDG PRIMARY KEY(MALOAIDG)
)
GO

CREATE TABLE DOCGIA
(
	STT INT IDENTITY,
	MADG NVARCHAR(50) NOT NULL,
	HOTEN NVARCHAR(200),
	NGAYSINH SMALLDATETIME,
	DIACHI NVARCHAR(200),
	EMAIL NVARCHAR(200),
	NGAYLAPTHE SMALLDATETIME,
	NGAYHETHAN SMALLDATETIME,
	SOSACHDANGMUON INT,
	LUOTMUON INT,
	TONGTIENNO MONEY,
	MALOAIDG NVARCHAR(50),
	CONSTRAINT PK_DG PRIMARY KEY(MADG),
	CONSTRAINT FK_DG_LDG FOREIGN KEY(MALOAIDG) REFERENCES LOAIDOCGIA(MALOAIDG)
)
GO

CREATE TABLE QUYDINHTHEDOCGIA
(
	STT INT IDENTITY NOT NULL,
	MAQD NVARCHAR(50) NOT NULL,
	TUOITOITHIEU INT,
	TUOITOIDA INT,
	THOIHANTHE INT, -- tinh theo thang
	NGAYRA DATETIME,
	NGAYKETTHUC DATETIME,
	CONSTRAINT PK_QDTDG PRIMARY KEY(MAQD)
)
GO

CREATE TABLE THELOAISACH
(
	MATHELOAI NVARCHAR(50) NOT NULL,
	TENTHELOAI NVARCHAR(200),
	CONSTRAINT PK_TLS PRIMARY KEY(MATHELOAI)
)
GO

CREATE TABLE SACH
(
	MASACH NVARCHAR(50) NOT NULL,
	TENSACH NVARCHAR(200),
	TACGIA NVARCHAR(200),
	MATHELOAI NVARCHAR(50),
	NXB NVARCHAR(200),
	NAMXB INT,
	NGAYNHAP SMALLDATETIME,
	DONGIA MONEY,
	SOLUONG INT,
	LUOTMUON INT,
	CONSTRAINT PK_S PRIMARY KEY(MASACH),
	CONSTRAINT FK_S_TLS FOREIGN KEY(MATHELOAI) REFERENCES THELOAISACH(MATHELOAI)
)
GO

CREATE TABLE QUYDINHSACH
(
	STT INT IDENTITY NOT NULL,
	MAQD NVARCHAR(50) NOT NULL,
	THOIHANSACH INT, -- khoang thoi gian tu nam xuat ban
	NGAYRA DATETIME,
	NGAYKETTHUC DATETIME,
	CONSTRAINT PK_QDS PRIMARY KEY(MAQD)
)
GO


--CREATE TABLE CHITIETPHIEUMUON
--(
--	MACTPM NVARCHAR(50) NOT NULL,
--	MASACH NVARCHAR(50),
--	TENSACH NVARCHAR(200),
--	CONSTRAINT PK_CTPM PRIMARY KEY(MACTPM)
--)
--GO

CREATE TABLE PHIEUMUON
(
	MAPM INT IDENTITY(1,1) NOT NULL,
	MASACH NVARCHAR(50) NOT NULL,
	MADG NVARCHAR(50),
	NGAYMUON SMALLDATETIME,
	HANTRA SMALLDATETIME,
	SOLUONG INT,
	MUCPHAT MONEY, 
	CONSTRAINT PK_PM PRIMARY KEY(MAPM, MASACH)
)
GO

CREATE TABLE QUYDINHPHIEUMUON
(
	STT INT IDENTITY NOT NULL,
	MAQD NVARCHAR(50) NOT NULL,
	SOSACHTOIDA INT,
	SONGAYMUONTOIDA INT,
	NGAYRA DATETIME,
	NGAYKETTHUC DATETIME,
	CONSTRAINT PK_QDPM PRIMARY KEY(MAQD)
)
GO



CREATE TABLE PHIEUTRA
(
	MAPM NVARCHAR(50) NOT NULL,
	MASACH NVARCHAR(50) NOT NULL,
	MADG NVARCHAR(50),
	NGAYTRA SMALLDATETIME,
	TIENPHAT MONEY,
	CONSTRAINT PK_PT PRIMARY KEY(MAPM, MASACH)
)
GO

CREATE TABLE QUYDINHPHIEUTRA
(
	STT INT IDENTITY NOT NULL,
	MAQD NVARCHAR(50) NOT NULL,
	TIENPHAT INT, --tre n ngay, tra n*tienphat
	NGAYRA DATETIME,
	NGAYKETTHUC DATETIME,
	CONSTRAINT PK_QDPT PRIMARY KEY(MAQD)
)

CREATE TABLE TAIKHOANNV
(
	MATK INT NOT NULL PRIMARY KEY IDENTITY(1,1),
	TENTK NVARCHAR(50),
	MATKHAU NVARCHAR (50),
	MACHUCVU NVARCHAR(50),
	MANV INT,
	CONSTRAINT FK_TK_NV FOREIGN KEY(MANV) REFERENCES NHANVIEN(MANV),
	CONSTRAINT FK_TK_CV FOREIGN KEY(MACHUCVU) REFERENCES CHUCVUNV(MACHUCVU)
	
)



INSERT INTO CHUCVUNV(MACHUCVU, CHUCVU)
  VALUES('001',N'Giám Đốc')

  INSERT INTO CHUCVUNV(MACHUCVU, CHUCVU)
  VALUES('002',N'Quản Lý')

  INSERT INTO CHUCVUNV(MACHUCVU, CHUCVU)
  VALUES('003',N'Thủ Thư')


  GO


SET IDENTITY_INSERT NHANVIEN ON
INSERT INTO NHANVIEN( MANV, HOTEN, NGAYSINH, MACHUCVU, NGAYVAOLAM, EMAIL, SDT, DIACHI, LUONG, TIENPHAT)
VALUES( '1',N'NGUYỄN VĂN LONG' , '1999-06-08 00:00:00' , '001' , '2019-06-08 00:00:00' , 'nvlong@gmail.com' , '0984426795' , N'Tp Hồ Chí Minh - Việt Nam ' , 15000000 , 500000 )

INSERT INTO NHANVIEN(MANV, HOTEN, NGAYSINH, MACHUCVU, NGAYVAOLAM, EMAIL, SDT, DIACHI, LUONG, TIENPHAT)
VALUES('2', N'LÊ ĐÌNH NGUYÊN' , '1991-06-08 00:00:00' , '002' , '2019-06-08 00:00:00' , 'ledinhnguyen@gmail.com' , '09284675448' , N'Tp Hồ Chí Minh - Việt Nam ' , 17000000 , 500000 )

INSERT INTO NHANVIEN(MANV, HOTEN, NGAYSINH, MACHUCVU, NGAYVAOLAM, EMAIL, SDT, DIACHI, LUONG, TIENPHAT)
VALUES('3', N'LÊ BẢO TRÂM' , '1995-06-08 00:00:00' , '003' , '2019-06-08 00:00:00' , 'lebaotram@gmail.com' , '01244946455' , N'HÀ NỘI - Việt Nam ' , 10000000 , 500000 )








GO

SET IDENTITY_INSERT NHANVIEN OFF


INSERT INTO TAIKHOANNV(TENTK, MATKHAU, MACHUCVU,MANV)
  VALUES('admin','admin','001','1')

 INSERT INTO TAIKHOANNV(TENTK, MATKHAU, MACHUCVU,MANV)
  VALUES('jhll','jhllasdf','002','2')

  INSERT INTO TAIKHOANNV(TENTK, MATKHAU, MACHUCVU,MANV)
  VALUES('user','user','003','3')








GO



INSERT INTO THELOAISACH(MATHELOAI, TENTHELOAI)
  VALUES('001',N'Lịch sử – Văn hóa')

  INSERT INTO THELOAISACH(MATHELOAI, TENTHELOAI)
  VALUES('002',N'Chính trị  – Kinh tế')

  INSERT INTO THELOAISACH(MATHELOAI, TENTHELOAI)
  VALUES('003',N'Tôn giáo – Triết học')






GO



 INSERT INTO SACH(MASACH, TENSACH, TACGIA, MATHELOAI, NXB, NAMXB, NGAYNHAP, DONGIA, SOLUONG, LUOTMUON)
  VALUES('1',N'Lịch sử Việt Nam',N'Lê Thành Khôi','001',N' Kim Đồng','2012','2019-08-06','51000','100','0')

   INSERT INTO SACH(MASACH, TENSACH, TACGIA, MATHELOAI, NXB, NAMXB, NGAYNHAP, DONGIA, SOLUONG, LUOTMUON)
  VALUES('2',N'Văn minh Việt Nam',N'Nguyễn Văn Huyên','001',N' Kim Đồng','2012','2019-08-06','51000','100','0')

  
  INSERT INTO SACH(MASACH, TENSACH, TACGIA, MATHELOAI, NXB, NAMXB, NGAYNHAP, DONGIA, SOLUONG, LUOTMUON)
  VALUES('3',N'Chính trị luận',N'Aristotle','002',N' Chính Trị','2014','2019-08-06','80000','50','0')


































 SET IDENTITY_INSERT PHIEUMUON ON
  INSERT INTO PHIEUMUON(MAPM, MASACH, MADG, NGAYMUON, HANTRA, SOLUONG, MUCPHAT)
  VALUES('1','1 2 3 4 ','001','2019-02-01','2019-02-05','6', 10000)

   INSERT INTO PHIEUMUON(MAPM, MASACH, MADG, NGAYMUON, HANTRA, SOLUONG, MUCPHAT)
  VALUES('2','1 2 3 4 ','1','2019-02-01','2019-02-05','2', 10000)

   INSERT INTO PHIEUMUON(MAPM, MASACH, MADG, NGAYMUON, HANTRA, SOLUONG, MUCPHAT)
  VALUES('3','3 11 15  ','2','2019-02-01','2019-02-05','3', 10000)




   INSERT INTO PHIEUMUON(MAPM, MASACH, MADG, NGAYMUON, HANTRA, SOLUONG, MUCPHAT
  VALUES('7','2 6 7 3 ','5','2019-02-01','2019-02-05','4', 10000)


  SET IDENTITY_INSERT PHIEUMUON OFF



INSERT INTO LOAIDOCGIA(MALOAIDG,TENLOAIDG)
  VALUES('001','X')

  INSERT INTO LOAIDOCGIA(MALOAIDG,TENLOAIDG)
  VALUES('002','Y')

--SET IDENTITY_INSERT DOCGIA ON

INSERT INTO DOCGIA(MADG, HOTEN, NGAYSINH, MALOAIDG, NGAYLAPTHE, EMAIL, NGAYHETHAN, DIACHI, SOSACHDANGMUON, TONGTIENNO)
VALUES( '1',N'NGUYỄN VĂN LONG' , '1999-06-08 00:00:00' , '001' , '2019-06-08 00:00:00' , 'nvlong@gmail.com' , '2019-06-08 00:00:00' , N'Tp Hồ Chí Minh - Việt Nam ' , '0' , 0 )

INSERT INTO DOCGIA(MADG, HOTEN, NGAYSINH, MALOAIDG, NGAYLAPTHE, EMAIL, NGAYHETHAN, DIACHI, SOSACHDANGMUON, TONGTIENNO)
VALUES('2', N'LÊ ĐÌNH NGUYÊN' , '1991-06-08 00:00:00' , '002' , '2019-06-08 00:00:00' , 'ledinhnguyen@gmail.com' , '2019-06-08 00:00:00' , N'Tp Hồ Chí Minh - Việt Nam ' , '0' , 0 )

INSERT INTO DOCGIA(MADG, HOTEN, NGAYSINH, MALOAIDG, NGAYLAPTHE, EMAIL, NGAYHETHAN, DIACHI, SOSACHDANGMUON, TONGTIENNO)
VALUES('3', N'LÊ BẢO TRÂM' , '1995-06-08 00:00:00' , '002' , '2019-06-08 00:00:00' , 'lebaotram@gmail.com' , '2019-06-08 00:00:00' , N'Tp Hồ Chí Minh - Việt Nam ' , '0' , 0 )








--SET IDENTITY_INSERT DOCGIA OFF


INSERT INTO QUYDINHPHIEUMUON(MAQD,SOSACHTOIDA, SONGAYMUONTOIDA, NGAYRA, NGAYKETTHUC)
  VALUES('MQD1','10','4','2018-02-04','2020-01-01')